@font-face {
  font-family: "Harry";
  src: url("/Users/miriam/Desktop/game/Harry_Potter/HARRP___.TTF");
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
}
.title{
  text-align: center;
  margin-left: 10px;
  font-family: "harry";
  font-size: 70px;
}
.board {
  height: 600px;
  width: 100%;
  left: 10px;
  position: absolute;
  background-image: url('/Users/miriam/Desktop/game/images/HogwartsCastle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.row{
  margin-top: 5px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "harry";}

#bot {
  top: 35%;
  left: 30%;
  position: absolute;
  height: 250px;
  width: 500px;
  color: white;
  font-family: 'harry';
  font-weight: 700;
  font-size: 55px;
  background-image: url('/Users/miriam/Desktop/game/images/voldemortSmile.gif');
  background-size: cover;
  border-radius: 15px;
  border: 3px double #006505;
}

.btn:hover {
  opacity: 0.6;
  text-decoration: none;
}

.p1 {
  background-image: url('/Users/miriam/Desktop/game/images/harry.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  position: absolute;
  left: 10%;
  top: 500px;
}

.p2 {
  background-image: url('/Users/miriam/Desktop/game/images/hermione.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  position: absolute;
  left: 80%;
  top: 500px;
}

#dead1 {
  background-image: url('/Users/miriam/Desktop/game/images/harryPopotter');
  height: 70px;
  width: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 540px;
}

#dead2 {
  background-image: url('/Users/miriam/Desktop/game/images/harryPusheen.gif');
  height: 70px;
  width: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 550px;
}

.bads {
  background-image: url('/Users/miriam/Desktop/game/images/avadaKedabra.gif');
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
}
.gameOver{
  background-image: url('/Users/miriam/Desktop/game/images/giphy-downsized.gif');
}
