@font-face {
  font-family: "Harry";
  src: url("../Harry_Potter/HARRP___.TTF");
}
@font-face {
  font-family: 'instrucciones';
  src: url('../sun/sun.ttf');
}

body {
  width: 100%;
  height: 100%;
  background-color: black !important;
  overflow: hidden;
}
.title{
  color: white;
  padding-top: 10px;
  text-align: center;
  margin-left: 50px;
  font-family: "harry";
  font-size: 70px;
}
.board {
  height: 600px;
  width: 100%;
  left: 10px;
  position: absolute;
  background-image: url('../images/HogwartsCastle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.instruc{
  background-color: black;
  font-family: "harry";
  color: #60fcff;
  font-size: 30px;
  font-family: 'instrucciones';
  text-align: center;
}
.carefful{
  color: #fffb38;
  text-align: center;
}
.row{
  color: white;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "harry";}
.score{
}
#bot {
  top: 35%;
  left: 30%;
  position: absolute;
  height: 250px;
  width: 500px;
  color: white;
  font-family: 'harry';
  font-weight: 700;
  font-size: 55px;
  background-image: url('../images/voldemortSmile.gif');
  background-size: cover;
  border-radius: 15px;
  border: 3px double;
}

.btn:hover {
  opacity: 0.6;
  text-decoration: none;
}

.p1 {
  background-image: url('../images/harry.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  position: absolute;
  left: 10%;
  top: 500px;
}

.p2 {
  background-image: url('../images/hermione.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 70px;
  position: absolute;
  left: 80%;
  top: 500px;
}

#dead1 {
  background-image: url('../images/harryPopotter');
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 440px;
}

#dead2 {
  background-image: url('../images/harryPusheen.gif');
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 500px;
}

.bads {
  background-image: url('../images/avadaKedabra.gif');
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
}
.gameOver{
  font-family: 'harry';
  padding-top: 100px;
  padding-left: 50px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 55px;
  color: white;
  top: 35%;
  left: 30%;
  position: absolute;
  height: 250px;
  width: 500px;
  background-image: url('../images/giphy-downsized.gif');
}
.gameOver:hover {
  opacity: 0.5;
}
